{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Montserrat:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">

    <!-- <link rel="stylesheet" href="style.css"> -->
    <link rel="stylesheet" href="{% static 'css/donate.css' %}">
    <link rel="stylesheet" href="{% static 'css/project.css' %}">

    <link rel="stylesheet" media="screen and (max-width: 1080px)" href="{% static 'media/mobile-all.css' %}" />
</head>
<body>
    <div class="nav-container">
        <div class="full-container">
            <div class="container-80">
                <div class="logo">
                    <a href="/">
                        <img src="{% static 'images/logo-2.png' %}" alt="niceLOGO">
                    </a>
                </div>

                <div class="menu">
                    <ul class="nav-links">
                        <li> <a href="/about"> ABOUT US </a></li>
                        <li> <a href="/donate"> DONATE   </a></li>
                        <li> <a href="/project"> PROJECTS   </a></li>
                        <li> <a href="/contact"> CONTACT US </a></li>
                    </ul>
                </div>

                <div class="burger-menu">
                    <div class="dash1"></div>
                    <div class="dash2"></div>
                    <div class="dash3"></div>
                </div>
            </div>
        </div>

        <div class="nav-text">
            <h1>OUR ROOTS RUN DEEP</h1>
            <p>Global Conservation Organization has been active for around 3+ years and we have been trying our best to achieve our goals. </p>
            <p class="button-4"> Video.</p>
        </div>

        <br><br><br><br><br>
    </div>

<div class="main-container">
    <div class="project-container">
        <h1 class="heading">&nbsp; OUR <span>PROJECTS &nbsp; </span> </h1>
        <p class="text"> <span>"</span> With currently 15 projects under our sponsorships, Global Nature Conservation has been a hub for campaigns that are dedicated to conserving, preserving, and restoring the ecosystems for the past few years. <span>"</span> </p>
            <div class="project-row row1">
                <div class="project-img">     </div>
                <div class="project-description">
                    <p><b>1000 Tap Water Project</b></p>
                    <p>This project is focused on eliminating the demand for single-use plastic water bottles by building a network of 1000 drinking fountains throughout hilly region of Musanze.</p>
                </div>
            </div>

            <br>

            <div class="project-row row2">
                <div class="project-description">
                    <p><b>Bumbogo Sanitation Programme</b></p>
                    <p>This project was done last year and it helped village in rural areas to help them build portable toilets in their house and surroundings. This programme decreased number of water borne disease cases significantly.</p>
                </div>
                <div class="project-img">      </div>
            </div>

            <br>

            <div class="project-row row3">
                <div class="project-img">      </div>
                <div class="project-description">
                    <p><b>Clean Lake Jen Project</b></p>
                    <p>Clean Lake Jen Project, a project by Global Nature Organization, made mass awareness and focused on cleaning the Jen village lake in Karim-Lamido, Taraba State. This project reduced the waste thrown into the lake each year by approximately 1 Metric Ton.</p>
                </div>
            </div>

            <br>

            <div class="project-row row4">
                <div class="project-description">
                    <p><b>Animal Rescue</b></p>
                    <p>There are lot of cases of wildfire each year throughout Nigeria and biodiversity is heavily affected by it. Many animals are forced to come into human settlement due to this wildfire. This project helped to capture them and move them back to dense forests.</p>
                </div>
                <div class="project-img">      </div>
            </div>

            <br>

            <div class="project-row row5">
                <div class="project-img">      </div>
                <div class="project-description">
                    <p><b>Green Project </b></p>
                    <p>Green Project is an afforestation programme that had a goal of planting 10k trees throughout Africa. It is still an ongoing project and so far about 4k trees have been planted.</p>
                </div>
            </div>

            <br>

            <div class="project-row row6">
                <div class="project-description">
                    <p><b>Sanitation Project</b></p>
                    <p>This project was entirely was due to help of volunteers. It focused on cleaning the areas of Kimironko axis. This project took place for 7 days with the help of several volunteers.</p>
                </div>
                <div class="project-img">      </div>
            </div>

            <br>

            <div class="project-row row7">
                <div class="project-img">      </div>
                <div class="project-description">
                    <p><b>Wild animals Treatment</b></p>
                    <p> An innovative idea of collecting the data and taking a survey of wildlife in Yankari National Park. This project helps the sick animals and also have a record of their species which again helpts to increase their population.</p>
                </div>
            </div>

            <br>

            <div class="project-row row8">
                <div class="project-description">
                    <p><b>Poach Not Project </b></p>
                    <p>The Poach Not Project is a wildlife conservation programme that has a goal of reducing poaching by 13% by 2030 throughout Africa. It is still an ongoing project and so far significant efforts has been made to create awareness.</p>
                </div>
                <div class="project-img">      </div>
            </div>
    </div>
</div>

 <!-- Footer -->

    <div class="full-container footer" >

        <div class="container-80">
            <div class="box box1">
                <ul>
                    <li><b>EXPLORE</b></li>
                    <li>Our Mission</li>
                    <li>News Room</li>
                    <li>Magazine</li>
                    <li>Events</li>
                </ul>
            </div>

            <div class="box box2">
                <ul>
                    <li><b>CONNECT</b></li>
                    <li>Contact Us</li>
                    <li>Carrers</li>
                    <li>FAQ</li>
                    <li>Events</li>
                </ul>
            </div>

            <div class="box box3">
                <ul>
                    <li><b>GIVE</b></li>
                    <li>Donate</li>
                    <li>Membership</li>
                    <li>Volunteer</li>
                    <li>Gift</li>
                </ul>
            </div>

            <div class="box box4">
                <ul>
                    <li><b>SOCIAL</b></li>
                    <li><i class="fab fa-facebook-f"></i> &nbsp;&nbsp; <span> Facebook</span></li>
                    <li><i class="fab fa-twitter"></i> &nbsp; <span> Twitter</span> </li>
                    <li><i class="fab fa-linkedin-in"></i>&nbsp; &nbsp; <span> LinkedIn </span></li>
                    <li><i class="fab fa-reddit-alien"></i> &nbsp;&nbsp; <span> Reddit</span></li>
                </ul>
            </div>
        </div>

        <div class="logo" style="width: 80%; margin:auto;  padding: 15px; 	border-bottom: 1px solid rgb(170, 170, 170,0.4);">
            <a href="/"><img src="{% static 'images/logo-2-color.png' %}" alt="niceLOGO" style="display:block; width: 20%; margin: auto;"></a>
        </div>

        <div class="copyright">
            @2024 Global Nature Organisation
        </div>
    </div>

<script src="{% static 'js/burger-menu.js' %}"></script>

</body>
</html>