{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login & Registration Form</title>
  <link rel="stylesheet" href="{% static 'css/register.css' %}">
</head>
<body style="background-image: url('/static/images/foggy-1.png');">
  <div class="container">
    <input type="checkbox" id="check">

     {% block content %}

    {% endblock %}
  </div>
</body>
</html>